.action__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 289px;
  padding: 63px 50px;
  padding-bottom: 43px;
  box-sizing: border-box;
  background: url("./../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../img/gift-photo-mobile@2x.jpg");
    background-size: 560px auto;
  }
}

.action__description {
  width: 180px;
  margin: 0;
  margin-top: 64px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .action {
    max-height: 165px;
  }

  .action__background {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    padding: 0 90px;
    background: url("./../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/gift-photo-tablet@2x.jpg");
      background-size: 1416px auto;
    }
  }

  .action__image {
    padding-bottom: 10px;
  }

  .action__description {
    width: 195px;
    margin-top: 0;
    padding-top: 4px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .action {
    margin: 0;
    width: 245px;
  }

  .action__background {
    flex-direction: column;
    justify-content: space-between;
    min-height: 290px;
    padding-top: 63px;
    padding-bottom: 43px;
    background: url("./../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/gift-photo-desktop@2x.jpg");
      background-size: 490px auto;
    }
  }

  .action__description {
    text-align: center;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .action__description {
    margin-top: 64px;
  }
}
