.action__background {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 289px;
  padding: 32px 50px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: url("./../img/gift-photo-mobile@1x.jpg");
}

.action__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .action {
    max-height: 165px;
  }

  .action__background {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    padding: 0 90px;
    background-size: cover;
    background-position: 0 -350px;
  }

  .action__image {
    padding-bottom: 10px;
  }

  .action__description {
    width: 195px;
    padding-top: 4px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .action {
    margin: 0;
    width: 245px;
  }

  .action__background {
    flex-direction: column;
    justify-content: space-around;
    min-height: 290px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-position: 0 0;
    background-size: auto;
  }

  .action__description {
    text-align: center;
  }
}
