.address {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  background: $base-color;
}

.address__title {
  margin: 0;
  margin-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__description {
  margin: 0;
  line-height: 20px;
}

.address--catalog,
.address--form {
  background: $block-color;
}
