.address {
  position: absolute;
  top: -80px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 28px 19px;
  box-sizing: border-box;
  z-index: 1;
  background: $base-color;
}

.address--catalog,
.address--form {
  background: $block-color;
}

.address__title {
  min-width: 131px;
  margin: 0;
  margin-right: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__description {
  margin: 0;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .address {
    top: 0;
    width: 100%;
    max-height: 200px;
    padding: 66px 70px;
  }

  .address__title {
    width: 200px;
    margin: 0;
    font-size: 19px;
    line-height: 25px;
  }

  .address__description {
    width: 155px;
    margin-top: -2px;
    text-align: right;
  }

  .address__city {
    display: block;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    top: 95px;
    left: 40px;
    width: 570px;
    padding: 64px 76px;
    padding-right: 90px;
    background: #ffffff;
  }

  .address__description {
    margin-top: 0;
    text-align: left;
  }
}
