.address {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 28px 20px;
  box-sizing: border-box;
}

.address__title {
  min-width: 131px;
  margin: 0;
  margin-right: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__description {
  margin: 0;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .address {
    width: $tablet-width;
    max-height: 200px;
    padding: 66px 70px;
    padding-right: 60px;
  }

  .address__title {
    width: 200px;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
  }

  .address__description {
    width: 155px;
    margin-top: -2px;
    text-align: right;
  }

  .address__city {
    display: block;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    top: 95px;
    left: 65px;
    width: 570px;
    padding: 64px 76px;
    padding-right: 90px;
    background: $base-color;
  }

  .address__description {
    margin-top: 0;
    text-align: left;
  }
}
