.button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background: $base-color;
  border: none;
}

.program__button {
  margin: 0 20px;
  padding: 11px 69px; /* 11px 72px */
  font-size: 14px;
  line-height: 18px;
}

.product__button {
  padding: 11px 106px;
}

.load-more__button {
  padding: 10px 91px;
  color: lighten($text-color, 21%);
  background: $extra-color;
}

.merchandise__button {
  padding: 10px 107px;
}

.info-questions__button {
  margin: 0 20px;
  margin-bottom: 24px;
  padding: 10px 74.5px;
}
