.button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-color;
  background: $decor-color;
  border: none;

  &:hover {
    background: $decor-hover-color;
  }

  &:active {
    color: $base-color-down;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.button--promo {
  padding: 11px 69px;
  font-size: 14px;
  line-height: 18px;
}

.button--product {
  position: absolute;
  bottom: 23px;
  width: 280px;
  padding: 10px 0;
}


.button--load-more {
  position: absolute;
  bottom: 23px;
  width: 280px;
  padding: 10px 0;
  color: $grey-button;
  background: $block-color;

  &:hover {
    background: $block-color;
  }

  &:active {
    color: $grey-button-down;
    outline: none;
  }
}

.button--merchandise {
  width: 100%;
  padding: 10px 0;
}

.button--form {
  margin: 0;
  margin-bottom: 21px;
  width: 100%;
  padding: 10px 73.5px;
}

@media (min-width: $tablet-width) {
  .button--promo {
    margin-left: 119px;
    padding: 11px 25px;
    padding-right: 30px;
    font-size: 20px;
  }

  .button--product,
  .button--load-more {
    width: 249px;
    margin: 0 37px;
    margin-bottom: 17px;
  }

  .button--merchandise {
    margin-top: 7px;
  }

  .button--form {
    width: 283px;
    margin: 0;
    margin-right: 61px;
    padding: 16px 0;
    font-size: 18.8px;
  }
}

@media (min-width: $desktop-width) {
  .button--promo {
    margin-left: 41px;
  }

  .button--product,
  .button--load-more {
    max-width: 169px;
    margin: 0 38px;
    margin-bottom: 17px;
  }

  .button--merchandise {
    width: 245px;
    margin-top: 0;
    margin-left: 35px;
  }

  .button--form {
    width: 569px;
    margin-right: 82px;
    font-size: 19px;
  }
}
