.button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-color;
  background: $decor-color;
  border: none;
}

.button--promo {
  padding: 11px 69px;
  font-size: 14px;
  line-height: 18px;
}

.button--product {
  padding: 11px 106px;
}

.button--load-more {
  padding: 10px 91px;
  color: $text-color-light;
  background: $block-color;
}

.button--merchandise {
  padding: 10px 107px;
}

.button--form {
  margin: 0;
  margin-bottom: 24px;
  padding: 10px 73.5px;
}
