.cat-info {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
}

.cat-info__name,
.cat-info__weight,
.cat-info__year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  appearance: none;
}

.cat-info__label {
  padding-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .cat-info {
    font-size: 19px;
    margin-bottom: 52px;
  }

  .cat-info__name,
  .cat-info__weight,
  .cat-info__year {
    align-items: baseline;
    padding-left: 3px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cat-info {
    min-width: 570px;
    margin: 0;
    margin-right: 80px;
  }

  .cat-info__year {
    .form__input {
      margin-bottom: 0;
    }
  }
}
