/*
$base-color: #64a83b;
$extra-color: $block-color;
*/

$base-color: #ffffff;
$block-color: darken($base-color, 5%);
$line-color: darken($base-color, 15%);
$weight-outline-color: darken($base-color, 7%);
$menu-color: darken($base-color, 90%);
$form-color: darken($base-color, 65%);
$decor-color: #64a83b;
$text-color: #111111;
$text-color-light: lighten($text-color, 20%);
