.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}

.copyright__title {
  margin-top: 8px;

  a {
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: $text-color;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 25px;
  }

  .copyright__title {
    margin-top: 5px;
    margin-right: 23px
  }
}
