.example {
  margin: 0 -20px;
  padding: 20px;
  background: $block-color;
}

.example__title {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
}

.example__resources {
  display: flex;
}

.example__money {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__toggle {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .example {
    min-height: 1085px;
    margin: 0 -30px;
    background: url("./../img/after-before-tablet.png") no-repeat 0 450px;
  }

  .example__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__money {
    margin-left: auto;
  }

  .example__item {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .example {
    min-height: 612px;
    margin: 0 -40px;
    background: url("./../img/after-before-desktop.png") no-repeat;
  }

  .example__block {
    display: block;
  }
}
