.example {
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 20px;
}

.example__wrapper {
  background: $block-color;
}

.example__title {
  margin: 0 0 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  padding: 15px 20px 0;
}

.example__description {
  margin: 0 0 23px;
}

.example__resources {
  display: flex;
  justify-content: space-between;
}

.example__money {
  margin: 34px 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__list {
  margin-left: -20px;
  margin-bottom: 28px;
}

.example__item--after {
  display: none;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  margin-left: 43px;
  margin-right: 38px;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    min-height: 910px;
    padding: 0 30px;
  }

  .example__wrapper {
    background: url("./../img/after-before-tablet@1x.png") no-repeat center 406px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/after-before-tablet@2x.png");
      background-size: 768px auto;
      background-position: center 406px;
      background-repeat: no-repeat;
    }
  }

  .example__title {
    margin-bottom: 63px;
    font-size: 60px;
    padding: 0 30px;
  }

  .example__description {
    padding-right: 30px;
    margin: 0;
    margin-bottom: 52px;
  }

  .example__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__money {
    width: 184px;
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  .example__item {
    display: none;
  }

  .example__slider {
    position: absolute;
    bottom: 50px;
    left: 53px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 465px;
    min-height: 352px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .example__wrapper {
    background: url("./../img/after-before-desktop@1x.png") no-repeat center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/after-before-desktop@2x.png");
      background-size: 1440px auto;
      background-position: center 0;
      background-repeat: no-repeat;
    }
  }

  .example__title {
    margin-bottom: 146px;
    padding: 55px 40px;
    padding-bottom: 0;
  }

  .example__description {
    margin-bottom: 68px;
  }

  .example__block {
    display: block;
  }

  .example__resources {
    width: 365px;
  }

  .example__money {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    text-align: left;
  }

  .example__money-number {
    padding: 0 60px;
    text-align: center;
  }
}
