.extra-product {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  border: none;
}

.extra-product__title {
  padding-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra-product__checkbox {
  display: block;
  margin-bottom: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 34px;
  }
}

@media (min-width: $tablet-width) {
  .extra-product__block {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-product__checkbox {
    margin-right: 120px;
  }
}

@media (min-width: $desktop-width) {
  justify-content: space-between;
}
