.features {
  padding: 0 20px;
  margin-bottom: 40px;
}

.features__title {
  margin: 0;
  margin-top: -5.5px;
  margin-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.features__item {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin: 0;
  }
}

.features__image {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 20px;
  background: $decor-color;
}

.features__description {
  margin: 3px 0;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 0 30px;
    margin-bottom: 45px;
    border-bottom: 1px solid $line-color;
  }

  .features__title {
    margin: 0;
    margin-bottom: 71px;
    font-size: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 59px;
  }

  .features__item {
    position: relative;
    display: block;
    max-width: 265px;
    min-height: 296px;
    margin-bottom: 22px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: -11px;
    }
  }

  .features__item--one::after {
    position: absolute;
    top: 89px;
    right: 20px;
    z-index: -1;
    content: "1";
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281.07px;
    color: $block-color;
  }

  .features__item--two::after {
    position: absolute;
    top: 89px;
    right: 0;
    z-index: -1;
    content: "2";
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281.07px;
    color: $block-color;
  }

  .features__item--three::after {
    position: absolute;
    top: 89px;
    right: 0;
    z-index: -1;
    content: "3";
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281.07px;
    color: $block-color;
  }

  .features__item--four::after {
    position: absolute;
    top: 89px;
    right: 0;
    z-index: -1;
    content: "4";
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281.07px;
    color: $block-color;
  }

  .features__image {
    padding: 15px;
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 9px;
    padding: 0 40px;
    border: none;
  }

  .features__list {
    margin-right: 0;
  }

  .features__item {
    max-width: 245px;
    min-height: 245px;
    margin-bottom: 0;
  }

  .features__item:nth-child(3),
  .features__item:nth-child(4) {
    margin-bottom: 0;
  }
}
