.form {
  margin-bottom: 36px;
}

.form__required {
  display: block;
  text-align: center;
}

.form__input {
  margin-bottom: 14px;
  padding: 13px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid $form-color;
  box-sizing: border-box;
}

.form__radio,
.form__checkbox {
  margin-right: 20px;
}

.form__textarea {
  width: 100%;
  min-height: 83px;
  margin-bottom: 30px;
  padding: 13px 15px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-color-light;
  border: 1px solid $form-color;
}
