.load-more {
  text-align: center;
}

.load-more__image {
  margin-bottom: 25px;
}

.load-more__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.load-more__description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .load-more__image {
    margin-bottom: 50px;
  }
}
