.load-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 11px;
}

.load-more__image {
  margin-bottom: 23px;
}

.load-more__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.load-more__description {
  margin-top: 7px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .load-more {
    padding: 75px;
    padding-top: 54px;
    padding-bottom: 68px;
    text-align: center;
  }

  .load-more__image {
    margin-bottom: 48px;
    width: 60px;
    height: 60px;
  }

  .load-more__title {
    font-size: 19px;
  }

  .load-more__description {
    margin-top: 25px;
    font-size: inherit;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .load-more {
    padding: 39px;
    padding-top: 54px;
    padding-bottom: 68px;
  }
}
