.logo__image {
  margin: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
    outline: none;
  }
}

.logo__image--header {
  margin: 11px 20px;
}

.logo__image--footer {
  margin: 23px 0;
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 173px;
    height: 60px;
    margin: 10px 0;
  }

  .logo__image--footer {
    height: 23px;
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image--header {
    width: 200px;
    height: 70px;
    margin: 35px 11px;
  }
}
