.logo__image {
  margin: 23px 0;
}

.logo__image--header {
  margin: 11px 20px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    margin: 30px 0;
  }

  .logo__image--footer {
    height: 27px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image--header {
    width: 135px;
    height: 30px;
    margin: 35px 0;
  }
}
