.map {
  margin: 0 -20px;
}

.map__card {
  height: 400px;
  background: url("./../img/bg-map-mobile@1x.png");
}

@media (min-width: $tablet-width) {
  .map {
    margin: 0 -30px;
  }

  .map__card {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    margin: 0 -40px;
  }

  .map__card {
    width: 100%;
  }
}
