.map {
  position: relative;
  padding-top: 76px;
}

.map__card {
  height: 400px;
  background: url("./../img/bg-map-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

.map__marker {
  position: absolute;
  top: 126px;
  left: 65px;
}

@media (min-width: $tablet-width) {
  .map__card {
    width: 100%;
    min-height: 520px;
    background: url("./../img/bg-map-tablet@1x.png") 0 123px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/bg-map-tablet@2x.png");
      background-size: 768px auto;
      background-position: 0 123px;
    }
  }

  .map__marker {
    top: 174px;
    left: 161px;
  }

  .map__marker--size {
    width: 124px;
    height: 106px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    padding: 0;
  }

  .map__card {
    min-height: 400px;
    background: url("./../img/bg-map-desktop@1x.png") -70px 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/bg-map-desktop@2x.png");
      background-size: 1300px auto;
      background-position: -70px 0;
    }
  }

  .map__marker {
    top: 75px;
    left: 464px;
  }
}
