.merchandise {
  padding-top: 14px;
  padding-bottom: 17px;
}

.merchandise__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.merchandise__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .merchandise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .merchandise {
    flex-wrap: no-wrap;
  }
}
