.merchandise {
  padding-top: 13px;
  padding-bottom: 17px;
}

.merchandise__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.merchandise__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .merchandise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 37px;
  }

  .merchandise__title {
    font-size: 19px;
  }

  .merchandise__description {
    line-height: 25px;
  }

  .merchandise__price {
    width: 44px;
    margin-left: 50px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .merchandise {
    align-items: center;
    padding: 15.5px 0;
  }

  .merchandise__title {
    width: 160px;
    margin: 0;
  }

  .merchandise__description {
    width: 286px;
    margin: 0;
    margin-top: 5px;
    margin-left: auto;
  }

  .merchandise__price {
    text-align: left;
  }
}
