.footer {
  background: $block-color;
}

.page-footer {
  padding: 20px;
  padding-top: 15px;
  text-align: center;
}

.page-footer__logo {
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 30px;
  }

  .page-footer__logo {
    padding-bottom: 5px;
    margin-left: -22px;
    margin-right: -8px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 33px;
    padding-right: 31px;
    padding-bottom: 26px;
    padding-left: 47px;
  }
}
