.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    align-items: center;
    margin: 10px 30px;
    margin-bottom: 40px;
  }

  .page-header__logo {
    padding-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    max-width: $desktop-width;
    margin: 0;
    padding-right: 40px;
    padding-bottom: 62px;
  }
}
