.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    align-items: center;
    margin: 10px 30px;
    margin-bottom: 40px;
  }

  .page-header__logo {
    padding-top: 3px;
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin: 27px 40px;
    margin-bottom: 80px;
  }

  .page-header__logo {
    padding-top: 8px;
    padding-left: 78px;
  }
}
