.price {
  margin: 0 -20px;
}

.price__item {
  padding: 25px 20px;
  border: 1px solid $block-color;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid $block-color;
  }
}

@media (min-width: $tablet-width) {
  .price {
    margin: 0;
  }

  .price__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .price__item {
    width: 324px;
    min-height: 431px;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 0;
    background: $block-color;
    border: none;

    &:last-child {
      background: none;
      border: 1px solid $block-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    margin: 0;
  }

  .price__item {
    width: 245px;
  }
}
