.product {
  display: flex;
}

.product__info {
  padding-top: 22px;
}

.product__title {
  margin: 0;
  margin-right: 60px;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__image {
  margin-top: 0;
}

.product__table {
  min-width: 140px;
  font-size: 12px;
  line-height: 16px;
}

.product__column-left {
  padding: 0;
  text-align: left;
}

.product__column-right {
  padding: 0;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    display: block;
    padding: 35px;
    padding-top: 139px;
    padding-bottom: 32px;
  }

  .product__image {
    position: absolute;
    bottom: 225px;
    left: 50%;
    transform: translateX(-50%);
    width: 323px;
    height: auto;
  }

  .product__title {
    margin: 0 60px;
    margin-bottom: 18px;
    font-size: 20px;
    text-align: center;
  }

  .product__table {
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    border-collapse: collapse;
  }

  .product__column-left,
  .product__column-right {
    padding: 4px 2px;
    padding-top: 3px;
    border-bottom: 1px solid $border-color;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding: 37px;
    padding-top: 140px;
    padding-bottom: 32px;
  }

  .product__image {
    bottom: 222px;
    width: 245px;
  }

  .product__info {
    padding-top: 24px;
  }

  .product__title {
    margin: 0 17px;
    margin-bottom: 18px;
  }

  .price__item {
    width: 245px;
    margin-bottom: 63px;
  }
}
