.program {
  padding: 0 20px;
}

.program__list {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.program__item {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 18px;
  background: $block-color;

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $decor-color;
  }

  &::after {
    position: absolute;
    content: "";
  }
}

.program__item--slim {
  &::after {
    top: 22px;
    left: 31px;
    width: 49px;
    height: 49px;
    background: url("./../img/icon-cat-slim.svg") no-repeat;
  }
}

.program__item--pro {
  &::after {
    top: 34px;
    left: 14px;
    width: 66px;
    height: 48px;
    background: url("./../img/icon-cat-pro.svg") no-repeat;
  }
}

.program__title {
  margin: 0;
  margin-left: 70px;
  padding: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
  text-transform: uppercase;
}

.program__description {
  margin-top: 17px;
  margin-bottom: 19px;
  padding-bottom: 24px;
  border-bottom: 1px solid $line-color;
}

.program__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .program {
    padding: 0 30px;
    margin-bottom: 46px;
  }

  .program__list {
    margin: 0;
  }

  .program__item {
    max-width: 608px;
    padding-top: 75px;
    padding-left: 52px;
    padding-bottom: 58px;
    padding-right: 280px;
    margin-bottom: 30px;

    &:nth-child(2) {
      padding-right: 312px;
      margin-bottom: 0;
    }
  }

  .program__title {
    margin: 0;
    padding: 0;
    font-size: 34px;
  }

  .program__description {
    margin-top: 24px;
    margin-bottom: 56px;
    padding: 0;
    border: none;
  }

  .program__link {
    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 0 40px;
    margin-bottom: 73px;
  }

  .program__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .program__item {
    max-width: 570px;
    margin-bottom: 0;
    margin-right: 80px;
    padding: 76px 54px;
    padding-bottom: 58px;
  }

  .program__item:nth-child(2) {
    padding-right: 54px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .program__title {
    padding-left: 162px;
  }

  .program__description {
    margin-top: 73px;
    margin-bottom: 31px;
  }
}
