.program__list {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.program__item {
  margin: 20px 0;
  padding: 20px;
  background: $block-color;
}

.program__title {
  margin: 0;
  margin-left: 70px;
  padding: 6px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
}

.program__description {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $line-color;
}

.program__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .program__item {
    max-width: 608px;
    padding: 60px 50px;
    padding-right: 280px;
  }

  .program__description {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .program-list {
    flex-direction: row;
    justify-content: space-around;
  }

  .program__item {
    max-width: 570px;
    padding: 0;
  }
}
