.site-navigation {
  display: block;
}

.site-navigation__item {
  padding: 23px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid $menu-color;

  a {
    text-decoration: none;
    color: $text-color;
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-navigation__item {
    margin-right: 30px;
    padding: 8px 0;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 24.86px;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-navigation__item--active {
    border-bottom: 2px solid $decor-color;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-navigation__item {
    margin-right: 32px;
    padding: 10px 0;
    font-size: 19px;
  }

  .site-navigation--index {
    a {
      color: $base-color;
    }

    .site-navigation__item--active {
      border-color: $base-color;
    }
  }
}
