.slider__toggle {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background: none;
}

.slider__image {
  position: relative;
  width: 83px;
  height: 12px;
  margin-top: 3px;
  border: 1px solid $border-color;
  border-radius: 6px;
  background-color: $base-color;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    width: 35px;
    height: 6px;
    background-color: $decor-color;
    border-radius: 5px;
  }
}

@media (min-width: $tablet-width) {
  .slider__image {
    position: relative;
    width: 429px;
    height: 6px;
    margin: 7px 22px;
    border: none;
    border-radius: 6px;
    background-color: $line-color;

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 212px;
      width: 8px;
      height: 8px;
      background-color: $decor-color;
      border-radius: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -14px;
      left: 199px;
      width: 32px;
      height: 32px;
      border: 1px solid $border-color;
      border-radius: 50%;
      background: $base-color;
      box-shadow: 0 2px 5px 0 $shadow-color;
    }

    &:hover::before {
      box-shadow: 0 3px 5px 0 $shadow-color-hover;
    }

    &:active::before {
      width: 30px;
      height: 30px;
      border: 2px solid $decor-color;
    }
  }

  .slider__toggle {
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dotted $text-color;

    &:hover {
      border-bottom: 1px solid $text-color;
    }

    &:active {
      border-bottom: none;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    bottom: 53px;
    left: 645px;
  }
}
