.social {
  padding: 20px 73px;
  padding-bottom: 15px;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 128px;
}

.social__image {
  fill: $footers-icon-color;

  &:hover {
    fill: $decor-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image--instagram {
  width: 16px;
  height: 16px;
  padding-top: 4px;
  padding-left: 2px;
}

.social__image-vkontakte {
  width: 23px;
  height: 20px;
  padding-top: 2px;
}

.social__image--facebook {
  width: 23px;
  height: 20px;
  padding-top: 1px;
  margin-right: -4px;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 26px 0;
    border: none;
  }

  .social__list {
    width: 135px;
  }

  .social__image {
    width: 28px;
    height: 28px;
  }

  .social__image--vkontakte {
    padding-left: 8px;
  }

  .social__image--instagram {
    width: 23px;
    height: 23px;
    padding-top: 3px;
    padding-left: 8px;
  }
}
