.social {
  padding: 21px 73px;
  padding-bottom: 17px;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 128px;
}

.social__button--instagram {
  padding-top: 4px;
}

.social__image-vkontakte {
  padding-top: 2px;
}

.social__image--facebook {
  padding-top: 1px;
  margin-right: -4px;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 27px 0;
    border: none;
  }

  .social__list {
    width: 135px;
  }

  .social__image {
    width: 30px;
    height: 30px;
  }
}
