// colors
$base-color: #ffffff;

$block-color: darken($base-color, 5%);
$weight-outline-color: darken($base-color, 7%);
$menu-color: darken($base-color, 10%);
$line-color: darken($base-color, 15%);
$border-color: darken($base-color, 20%);
$form-color: darken($base-color, 65%);

$toggle-color: #222222;

$text-color: #111111;

$text-color-light: lighten($text-color, 20%);

$decor-color: #64a83b;

// width viewports
$tablet-width: 768px;
$desktop-width: 1300px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
