.weight {
  margin: 0 -20px;
  padding: 0 20px;
  border: 1px solid $weight-outline-color;
}

.weight__radio {
  display: block;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;

  &:first-child {
    margin-top: 25px;
  }
}

@media (min-width: $tablet-width) {
  .weight {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .weight {
    display: inline-block;
    max-width: 570px;
  }
}
